
section.resume-section {
    display: flex;
    align-items: center;
    padding: 3.75rem 1rem 5rem 1rem;
    min-height: 100vh;
    /* max-width: 75rem; */
    background: var(--color-background);
}

section.resume-section .resume-section-content {
    width: 100%;
}

section.resume-section .resume-section-content .lastName {
    color: var(--color-primary);
} 

section.resume-section .resume-section-content .subheading {
    font-family: var(--font-family-monospace);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
}

.subheadingStrong {
    color: var(--color-primary);
}

section.resume-section .resume-section-content .pipe, .date {
    color: var(--color-secondary);
}

section.resume-section .resume-section-content .social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-title-in-primary);
    border-radius: 10px 10px;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

section.resume-section .resume-section-content .social-icons .social-icon:hover {
    background-color: var(--color-secondary);
}

/*============================================================ @media ===============================================*/

@media (max-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
}

@media (min-width: 992px) {
    
    section.resume-section {
      min-height: 100vh;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
}
      
